@page "/"
@using OracControl.Components;
@using OracControl.Services;
@using  Microsoft.Extensions.Configuration;
@inject IJSRuntime JSRuntime
@inject IOscServer server
@inject IConfiguration config

@implements IDisposable


    <div class="main">
        <div class="container container-centered @(IsLoaded ? "d-none" : "")">
            <OracConnection />
        </div>
        <div class="@(!IsLoaded ? "d-none" :"")">
            <nav class="navbar navbar-light bg-light" style="padding:.5rem;">
                <OracModuleControl ShowMenu="@ShowMenu" OnMenuStateChange="@OnMenuStateChange" />
            </nav>
            <div class="params-container">
                <div class="params-columns">
                    <OracParameterControl Prefix="/P1" />
                    <OracParameterControl Prefix="/P2" />
                    <OracParameterControl Prefix="/P3" />
                    <OracParameterControl Prefix="/P4" />
                    <OracParameterControl Prefix="/P5" />
                    <OracParameterControl Prefix="/P6" />
                    <OracParameterControl Prefix="/P7" />
                    <OracParameterControl Prefix="/P8" />
                </div>
            </div>
        </div>
    </div>

@functions {

    public bool IsLoaded { get; set; } = false;

    public bool ShowMenu { get; set; } = false;

    public async void OnMenuStateChange(bool value)
    {
        ShowMenu = value;
    }

    protected override async Task OnAfterRenderAsync()
    {
        await JSRuntime.InvokeAsync<object>(
                "keyboard.init",
                new DotNetObjectRef(this));
    }

    public void OnMessageReceived(object sender, OscMessage msg)
    {
        if (!IsLoaded && msg.Address == "/ConnectComplete")
        {
            IsLoaded = true;
            base.Invoke(StateHasChanged);
        }
    }

    private Dictionary<string, string> KeyMappings { get; set; }

    protected override void OnInit()
    {
        KeyMappings = config.GetSection("KeyboardMappings").GetChildren()
            .Select(item => new KeyValuePair<string, string>(item.Key, item.Value))
            .ToDictionary(x => x.Key, x => x.Value);

        server.OscMessageArrived += OnMessageReceived;
    }

    public void Dispose()
    {
        server.OscMessageArrived -= OnMessageReceived;
    }

    [JSInvokable]
    public Task OnKeyDown(string keyCode)
    {
        if(KeyMappings.TryGetValue(keyCode, out var address))
        {
            if ((address == "/NavNext" || address == "/NavPrev" || address == "/NavActivate") && !ShowMenu)
            {
                ShowMenu = true;
                base.Invoke(StateHasChanged);
            }
            else if (address == "CloseMenu")
            {
                if (ShowMenu)
                {
                    ShowMenu = false;
                    base.Invoke(StateHasChanged);
                }
            }
            else
            {
                server.Send(address, 1);
            }
        }

        return Task.CompletedTask;
    }
}