@inherits LayoutComponentBase
@using OracControl.Components;

<div class="main">
    <div class="top-row px-4 justify-content-between">
        <div class="h2 mb-1 mt-1">
            Orac 2.0 Control
        </div>
        <OracConnection />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
